{% extends 'base.html' %} 

{% block title %}Мой сайт{% endblock %} 

{% block content %}
<h1>Обо мне</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aperiam
  fugiat, cumque omnis ipsa, assumenda alias consectetur hic delectus magnam ut,
  odit ab non numquam. Sit itaque, magni soluta veniam nisi eum ut molestias
  temporibus unde dolor perspiciatis quisquam vero expedita omnis repellat
  nesciunt quaerat hic aliquam, libero ea fugit obcaecati ab! Nemo facere
  aliquid vero eum tenetur incidunt vel similique nulla consequuntur rerum!
  Molestias quod eligendi at sint dicta omnis repellat perspiciatis aperiam
  eaque, incidunt, ducimus accusamus aliquam provident impedit cum quae eveniet
  praesentium? Doloremque illo a earum vel modi deserunt accusantium porro
  tenetur, harum optio, consequuntur maxime, veniam id vitae quaerat perferendis
  molestiae illum? Odit nesciunt impedit hic dolorem a voluptas maiores expedita
  minima facilis eaque? Nobis, deserunt numquam mollitia libero alias
  reprehenderit ipsum quis ea incidunt a dolore aperiam eum suscipit molestiae
  corporis ipsam rem voluptate aut nam veritatis dignissimos impedit. Sint odio
  aut similique suscipit atque?
</p>
{% endblock %}
