{% extends 'myapp/base.html' %}

{% block title %}Главная{% endblock %}

{% block menu %}
    <a class="menu" href="/">Главная</a>
    <a class="menu" href="/about">Обо мне</a>
{% endblock %}

{% block content %}
    <h1>Обо мне</h1>
    <p class="paragraf">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, aliquam
    voluptatum aliquid quo consectetur dolorum quidem suscipit eius facere
    accusamus soluta perspiciatis nesciunt vero dolor earum pariatur.
    Quisquam, soluta? Laudantium?
    </p>
{% endblock %}


