{% extends 'myapp/base.html' %}

{% block title %}Главная{% endblock %}

{% block menu %}
    <a class="menu" href="/">Главная</a>
    <a class="menu" href="/about">Обо мне</a>
{% endblock %}

{% block content %}
<h1>Главная</h1>
<p class="paragraf">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis qui
  quidem et nostrum expedita repudiandae adipisci! Optio odio excepturi
  tempora dolore quas quae sed aut accusantium, deserunt obcaecati esse
  debitis.
</p>
<h2>Заголовок 2-го уровня</h2>
<p class="paragraf">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Non sunt dolores
  voluptates deserunt repellendus laborum dolorum ipsa hic nostrum, incidunt
  saepe necessitatibus numquam voluptas ducimus esse repudiandae natus,
  ipsum quisquam!
</p>
<p class="paragraf">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam deserunt
  veniam possimus libero odio optio veritatis dolorem dolores maiores
  quibusdam neque, pariatur exercitationem adipisci labore, quas illo nisi
  nihil fugiat.
</p>
<p class="paragraf">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, aliquam
  voluptatum aliquid quo consectetur dolorum quidem suscipit eius facere
  accusamus soluta perspiciatis nesciunt vero dolor earum pariatur.
  Quisquam, soluta? Laudantium?
</p>
{% endblock %}


